html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

#header .navbar {
  padding-left: 5%;
  padding-right: 5%;
}

#footer {
  margin-top: 50px;
}

.logo {
  height: 34px;
  margin-right: 10px;
}

.orderTable,
#frozenTable {
  table-layout: fixed;
}

.orderTable th,
.orderTable td {
  word-wrap: break-word;
}